body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full height of the parent */
}

#button-container {
    display: center:
	margin: 0 auto;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px; /* Add some margin for spacing between buttons */
    cursor: pointer;
    border-radius: 4px;
}

.chart {
    width: 800px;
    height: 400px;
    margin: 20px auto;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: #ffffff;
    border: 1px solid #000000;
    pointer-events: none;
    opacity: 0;
}

.hidden {
    display: none;
}

footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
