/* Styling for the body element */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Styling for the main title */
h1 {	
    color: #333;
    text-align: center;
}

/* Styling for the main content area */
main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f4f4;
}

/* Styling for sections within the main content */
section {
    margin-bottom: 1rem;
}

/* Styling for section titles */
h2 {
    color: #333;
    border-bottom: 2px solid #00008b;
    padding-bottom: 0.5rem;
}

/* Styling for paragraph text */
p {
    line-height: 1.6;
}

/* Styling for unordered lists */
ul {
    list-style-type: none;
    padding: 0;
}

/* Styling for list items within unordered lists */
ul li {
    margin: 0.5rem 0;
}

/* Styling for links within list items */
ul li a {
    color: #00008b;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

/* Styling for the footer */
footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Styling for images */
img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

/* Styling for the return button */
.return {
    position: fixed;
    bottom: 75px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
    padding: 10px 20px;
    background-color: #00008b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.return:hover {
    background-color: #ADD8E6;
}
